<!-- write your footer code here -->

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">
            Copyright 
            <script>
                document.write(new Date().getFullYear())
            </script>
            |<script>document.write(new Date().toLocaleDateString())</script>
        </span>
    </div>
</footer>
